*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

:root {
    --button-width: 25px;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

nav {
    box-sizing: border-box;
    width: 100vw;
    padding: 3px;
    height: 5vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}

span {
    user-select: none;
    -webkit-app-region: drag;
    width: calc(100% - 3 * var(--button-width));
    height: 5vh;
    background-color: red;
    padding-left: 16px;
}

button {
    width: var(--button-width);
    height: var(--button-width);
}

textarea {
    width: 98vw;
    height: 92vh;
    resize: none;
    border: none;
}